<h1><%=I18n.t(:log_in)%></h1>

<% form_tag session_path do -%>
<p><%= label_tag I18n.t(:email) %>:
<%= text_field_tag 'email', @login %></p>

<p><%= label_tag I18n.t(:password) %>:
<%= password_field_tag 'password', nil %>
<%= link_to(I18n.t(:forgot_pwd), :controller=>'passwords', :action=>'new') %>
</p>

<p><label>&nbsp;</label>
<%= check_box_tag 'remember_me', '1', @remember_me %> <%=I18n.t(:remember_me)%></p>

<p><label>&nbsp;</label>
<%= submit_tag I18n.t(:log_in) %></p>
<% end -%>
<% if flash[:error] %>
<%= flash[:error] %><br/>
<% end %>

