<b>Welcome on Swap!, the site to swap anything with your own network.</b><br/>
This site tries to build a network and works by invitation only.<br/>
Currently 224,537 registred users (ah ah, non c'est pas vrai)
<h1>Log In</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'Email' %>:
<%= text_field_tag 'email', @login %></p>

<p><%= label_tag 'password' %>:
<%= password_field_tag 'password', nil %></p>

<p><label>&nbsp;</label>
<%= check_box_tag 'remember_me', '1', @remember_me %> Remember me</p>

<p><label>&nbsp;</label>
<%= submit_tag 'Log in' %></p>
<% end -%>

