<li class="thing<% if current_user and thing.user_id == current_user.id %> mine<% end %>">

<% if not thing.photo_file_name %>
<img src="/images/no_image.png" width="100" height="100">
<% else %>
<%= image_tag thing.photo.url(:small) %>  
<% end %>

<div class="name"><%=thing.name%></div>
<%= link_to(I18n.t(:show_detail), {:action=>'show', :id=>thing.id}) %> | 
<%= thing.messages.size %> <%= I18n.t(:nb_messages) %>

<% if current_user and thing.user_id == current_user.id %>
 | <%= link_to('edit', {:action=>'edit', :id=>thing.id}) %> |
<%= link_to(I18n.t(:delete), {:action=>'destroy', :id=>thing.id}, {:confirm=>I18n.t(:delete_confirm)}) %>
<% end %>

<br/>
<%=thing.description%><br/>
<%=thing.swap_reason%><br/>
<%=I18n.t(:value)%>: <%=thing.estimated_price%>
<% if thing.buying_price.to_i != 0 %> 
(<%=thing.percent_off%>% <%=I18n.t(:discount)%>)
<% end %> 
<br/>
<div class="user">
<a href="/users/profile/<%=thing.user.id%>"><%=thing.user.short_name%></a>
</div>
<% if thing.user.location.to_s != '' %> (<%=thing.user.location%>)<%end%>

<div class="add_as_friend">
<% if current_user and thing.user!=current_user %>
<% if not thing.user.friend_of?(current_user.id) %>
<%= link_to(I18n.t(:add_as_friend), :controller=>:network, :action=>:add_as_friend, :id=>thing.user.id)%>
<%end%>
<%end%>
</div>

<br/>
<br/>
</li>

