<li<% if current_user and thing.user_id == current_user.id %> class="mine"<% end %>>

<% if not thing.photo_file_name %>
<img width="100" height="100" class="thing_img">
<% else %>
<%= image_tag thing.photo.url(:small), :class=>"thing_img" %>  
<% end %>

<b><%=thing.name%></b>
<%= link_to(I18n.t(:show_detail), {:action=>'show', :id=>thing.id}) %> | 
<%= thing.messages.size %> <%= I18n.t(:nb_messages) %>

<% if current_user and thing.user_id == current_user.id %>
 | <%= link_to('edit', {:action=>'edit', :id=>thing.id}) %> |
<%= link_to(I18n.t(:delete), {:action=>'destroy', :id=>thing.id}, {:confirm=>I18n.t(:delete_confirm)}) %>
<% end %>

<br/>
<%=thing.description%><br/>
<%=thing.swap_reason%><br/>
<%=I18n.t(:value)%>: <%=thing.estimated_price%>
<% if thing.buying_price.to_i != 0 %> 
(<%=thing.percent_off%>% <%=I18n.t(:discount)%>)
<% end %> 
<br/>
<%=thing.user.name%><% if thing.user.location.to_s != '' %> (<%=thing.user.location%>)<%end%><br/>
<br/>
</li>

