<li<% if current_user and thing.user_id == current_user.id %> class="mine"<% end %>>
<img width="90" height="90">
<b><%=thing.name%></b>
<% if current_user and thing.user_id == current_user.id %>
<%= link_to('edit', {:action=>'edit', :id=>thing.id}) %> |
<%= link_to(I18n.t(:delete), {:action=>'destroy', :id=>thing.id}, {:confirm=>I18n.t(:delete_confirm)}) %>
<% end %>
<br/>
<%=thing.description%><br/>
<%=thing.swap_reason%><br/>
<%=I18n.t(:value)%>: <%=thing.estimated_price%>
<% if thing.buying_price.to_i != 0 %> 
(<%=thing.percent_off%>% <%=I18n.t(:discount)%>)
<% end %> 
<br/>
<%=thing.user.name%> (<%=thing.user.location%>)<br/>
<br/>
</li>

