<h1><%=@thing.name%></h1>

<% if @thing.photo_file_name %>
<%= link_to(image_tag(@thing.photo.url(:small), :class=>"thing_img"), "") %><br/>
<% end %>

<% if current_user and @thing.user_id == current_user.id %>
<%= link_to('edit', {:action=>'edit', :id=>@thing.id}) %> |
<%= link_to(I18n.t(:delete), {:action=>'destroy', :id=>@thing.id}, {:confirm=>I18n.t(:delete_confirm)}) %>
<br/>
<br/>
<% end %>

<%= simple_format(@thing.description)%>
<%= simple_format(@thing.swap_reason)%>
<br/>
<%=I18n.t(:value)%>: <%=@thing.estimated_price.to_i%><br/>
<% if @thing.buying_price.to_i != 0 %> 
<%=I18n.t(:buying_price)%>: <%=@thing.buying_price.to_i%>
(<%=@thing.percent_off%>% <%=I18n.t(:discount)%>)<br/>
<% end %> 
<br/>

<% if current_user and current_user.id != @thing.user_id %>
<% if not current_user.has_proposed?(@thing.id) %>
<%= link_to(I18n.t(:do_proposition), {:controller=>'propositions', :action=>'create', :id=>@thing.id}, {:class=>"btnlnk"}) %><br/>
<% else %> 
<%= link_to(I18n.t(:undo_proposition), {:controller=>'propositions', :action=>'destroy_by_thing', :id=>@thing.id}, {:class=>"btnlnk warning"}) %><br/>
<% end %> 
<br/>
<% end %> 

<% if @propositions != [] %>
<h2><%=I18n.t(:title_propositions)%></h2>
<%= render(:partial=>'propositions/list', :collection=>@propositions) %>
<br/>
<% end %>

<h2><%=I18n.t(:owner)%></h2><br/>
<%= render(:partial=>'users/detail', :object=>@thing.user) %>
<br/>

<% if @thing.user.location.to_s != '' %>
<div class="location"><%=@thing.user.location%></div>
<%end%>

<h2><%=I18n.t(:messages)%></h2><br/>
<%= link_to(I18n.t(:write_message), {:controller=>"messages", :action=>'new', :id=>@thing.id}) %><br/>
<br/>
<%= render(:partial=>"messages/show", :collection=>@thing.messages) %>

