<h1><%=I18n.t(:edit_my_profile)%></h1>

<%= error_messages_for :user %>
<% form_for :@user, :url=>{:action=>'update'} do |f| -%>

  <p><%= label_tag I18n.t(:name) %>
  <%= text_field :user, :name %></p>

  <p><%= label_tag I18n.t(:location) %>
  <%= text_field :user, :location %></p>
    
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

