<h1><%=I18n.t(:profile)%></h1>
<% if @user == current_user %>
<%= link_to(I18n.t(:edit_my_profile), :action=>:edit) %><br/>
<% end %>

<%= render(:partial=>'detail', :object=>@user) %>

<% if @user.location.to_s != '' %>
<div class="location"><%=@user.location%></div>
<br/>
<%end%>

<h1><%=I18n.t(:title_propositions)%></h1>
<%= render(:partial=>'propositions/pro', :collection=>@pros) %>
<% if @pros == [] %>
<%=I18n.t(:no_proposition)%><br/>
<% end %>
<br/>

<h1><%=I18n.t(:title_things)%></h1>
<% if flash[:error] %>
<%= flash[:error] %><br/>
<%end%>
<ul class="things">
<%= render(:partial=>'things/thing', :collection=>@things) %>
</ul>


<h1><%= I18n.t(:network) %></h1>

<% if current_user == @user %>
<%= render(:partial=>'network/new') %>
<br/>
<% end %>


<h2><%= I18n.t(:friends) %></h2>
<%= render(:partial=>'users/detail', :collection=>@friends) %>

<% if @friends==[] %>
<%= I18n.t(:none) %><br/>
<br/>
<% end %>

<h2><%= I18n.t(:fans) %></h2>
<%= render(:partial=>'users/detail', :collection=>@fans) %>

<% if @fans==[] %>
<%= I18n.t(:none) %><br/>
<br/>
<% end %>

