<p><%= label_tag I18n.t(:name) %>
<%= text_field :object, :name %></p>

<p><%= label_tag I18n.t(:description) %>
<%= text_area :object, :description, :rows=>4 %></p>

<p><%= label_tag I18n.t(:swap_reason) %>
<%= text_area :object, :swap_reason, :rows=>4 %></p>

<p><%= label_tag I18n.t(:buying_price) %>
<%= text_field :object, :buying_price, :size=>5 %></p>

<p><%= label_tag I18n.t(:buying_date) %>
<%= text_field :object, :buying_date, :size=>8 %></p>

<p><%= label_tag I18n.t(:estimated_price) %>
<%= text_field :object, :estimated_price, :size=>5 %></p>

