<h1><%=I18n.t(:add_object)%></h1>
marche pas encore
<p><%= label_tag I18n.t(:name) %>
<%= text_field 'name', @login %></p>

<p><%= label_tag I18n.t(:description) %>
<%= text_area 'password', nil %></p>

<p><label>&nbsp;</label>
<%= submit_tag I18n.t(:add) %></p>


