<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="author" content="Mickael Faivre-Macon">
	<meta name="keywords" content="swap, troc">
	<meta name="description" content="Swap anything">
	<meta name="robots" content="all">
	<title>Swap</title>
  <%= stylesheet_link_merged :base %>
	<link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico">	
</head>
<body>
<div id="title">Swap!</div>
<div id="menu">
<% if current_user %>
<%= link_to(I18n.t(:add_object), :controller=>:things, :action=>:new)%> | 
<%= link_to(I18n.t(:logout), :controller=>:sessions, :action=>:destroy)%> |
<% end %>
<a href="/?locale=fr">Français</a> |
<a href="/?locale=en">English</a>
</div>
<div id="content">
<% if flash[:error] %>
<%= flash[:error] %><br/>
<%end%>
<%= yield %>
</div>

<!-- JS -->
<%= javascript_include_merged :base %>

</body>
</html>
